* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
    color: #ffffff;
}

.main {
    width: 600px;
    height: 100vh;
    /* background-color: red; */
    margin: 80px auto 30px auto;
    position: relative;
}

.about {
    width: 100%;
    height: 300px;
    /* background-color: aqua; */
    display: grid;
    grid-template-rows: 100px 1fr;
    padding: 20px;
    position: relative;
    margin-bottom: 70px;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.anuj {
    font-size: 28px;
}

.logo img {
    height: 18px;
    filter: invert(1);
    transition: filter 1 ease;
}

.logo img:hover {
    filter: invert(0.5);
}

.x-github {
    margin-right: 8px;
}

.summary {
    /* background-color: pink; */
}

.para {
    margin-top: 30px;
    color: rgb(156 163 175);
    font-size: 20px;
}

.white {
    color: white;
}

.experience {
    width: 100%;
    height: 300px;
    /* background-color: aqua; */
    position: relative;
    padding: 20px;
}

.border{
    width: 100%;
    height: 1px;
    background-color: rgb(156 163 175);

}

.title{
    margin-top: 20px;
    font-size: 40px;
}

