* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 400px;
    width: 400px;
    background-color: orange;
    animation:  moving 5s linear infinite;;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes moving {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

.sun {
    height: 50px;
    width: 50px;
    background-color: aqua;
    transform: translateX(150px);
    border-radius: 50%;
}