* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.container {
    padding: 20px;
    position: relative;
}

.box {
    height: 100px;
    width: 150px;
    background-color: orange;
    animation-name: move;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    position: absolute;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move {
    0% {
        background-color: rgb(255, 0, 225);
        top: 10px;
        left: 10px;
    }

    25% {
        background-color: orange;
        top: 10px;
        left: 500px;
    }

    50% {
        background-color: blue;
        top: 500px;
        left: 500px;
    }

    100% {
        background-color: rgb(214, 255, 10);
        top: 500px;
        left: 10px;
    }
}